@using MVC_AK.Controllers
@model MVC_AK.ViewModels.MoviesViewModel
@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<form class="d-flex" asp-action="All">
	<input class="form-control me-sm-2" type="text" placeholder="Search" name="name">
	<button id="basic-text1" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>

<br>
@if (Model.mNames.Count == 0)
{
	<p>No Movies.</p>
}
else
{
	<ul>
		@foreach (var mNames in Model.mNames)
		{
			<li>
				<h1>@mNames</h1>
			</li>
		}
	</ul>
}

@section scripts{
	<script>
		$(function() {
			$("#basic-text1").click(function () {
				$("Form").submit();
			})
		});
	</script>
}