@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Anthony's Favorite Movies</h1>
    <p>This website is a example project for reading my favorite movies from a database. You can also search them too!</a>.</p>
</div>
